<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TypingGame</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <!-- minify -->
    <link href="https://unpkg.com/nes.css@2.2.0/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="nes-balloon from-left nes-pointer mt-5">
            <h2>About Developer</h2>
            <br/>
            <p>My name is <strong>Phurinat Puekkham</strong> I'm a software engineering student
                I build this website for everybody that want to test your typing skill. You can check me out
                at the social icon below.
            </p>
            <br/><br/>
            <div class="text-center">
                <a href="https://www.facebook.com/phurinat.puekkham.1" target="_blank"><i class="nes-icon facebook is-large mx-4"></i></a>
                <a href="https://github.com/phurinaix" target="_blank"><i class="nes-icon github is-large mx-4"></i></a>
                <a href="mailto:phurinaix@gmail.com" target="_blank"><i class="nes-icon gmail is-large mx-4"></i></a>
                <a href="https://www.linkedin.com/in/phurinat-puekkham-333a9615a" target="_blank"><i class="nes-icon linkedin is-large mx-4"></i></a>
            </div>
            <br/><br/>
            <a href="/" class="nes-btn is-error">Go to home</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>